[submodule "lib/list-comprehension-demos"]
	path = lib/list-comprehension-demos
	url = https://github.com/RonaldoCMP/list-comprehension-demos.git
[submodule "lib/Round-Anything"]
	path = lib/Round-Anything
	url = https://github.com/Irev-Dev/Round-Anything.git
[submodule "lib/scad-utils"]
	path = lib/scad-utils
	url = https://github.com/openscad/scad-utils.git
[submodule "lib/BOSL2"]
	path = lib/BOSL2
	url = https://github.com/revarbat/BOSL2
