<html>
<head>
<title>Case Settings</title><style>
.title {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: right;
  width: 200pt;
  padding: 2pt;
  display: inline-block;
}
.entry {
}
</style>
</head>
<body>
<form method="post" action="/model">
    <div class="title">logo (svg):</div><input type="file" class="" title="logo" name="file"/><br/>
    {% for entry, value in fields %}
    <div class="title">{{ entry }}:</div><input class="entry" type="text" name="{{entry}}"/><br/>
    {% endfor %}
    <input type="submit" label="ok"/>
</form>
</body>
</html>